body {
    margin: 0;
    background-color: #191C22;
    display: flex;
    height: 100vh;
    color: azure;
}

.left  {
    flex-grow: 2;
}

.profile {
    background-color: #191C22;
}

.room-list {
    background-color: #21242B;
}

#room-tab-in-left {
    list-style-type: none;
    margin: 10px;
    border: 2px solid white;
}

.middle {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box {
    border-top: 1px solid black;
    height: 100%;
}

.input-field {
    background-color: #24262D;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

#input-field-in-middle {
    width: 80%;
    height: 2.5em;
    background-color: #3c3f4b;
    border: none;
    border-radius: 5px;
    font-size: larger;
    padding: 0 15px;
    outline: none;
    color: azure;
}

#attachment-btn-in-middle, #send-btn-in-middle {
    border: none;
    background-color: #24262D;
    margin: 0;
    padding: 0;
}

#attachment-icon, #send-icon {
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;    
}

.right {
    flex-grow: 1;
    background-color: #21242B;
}